{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    <div class="recipe-content">

    <!-- Include an ingredients list if provided -->
    {{ if .Params.ingredients }}
    <div class="sidebar">
      <h2>Ingredients</h2>
    
      <!-- If not a slice (array/bullet list), there are multiple items that list ingredients -->
      {{ if not (reflect.IsSlice .Params.ingredients) }}
      {{ range $item, $ingredientList := .Params.ingredients }}
      <div>
        {{ title $item }}
        <ul>
          {{ range . }}
          {{ if reflect.IsMap . }}
          <!-- If the length is 1, it's listed as key:value -->
          {{ if eq (len .) 1}}
          {{ range $ingredient, $qty := . }}
          <li>{{ title $ingredient }}: {{ $qty }}</li>
          {{ end }}
          <!-- Otherwise, it's listed with ingredient, qty, units, etc -->
          {{ else }}
          <!-- TODO: Process appropriately -->
          <li>{{ . }}</li>
          {{ end }}
          <!-- If no key:value pair, it's a simple entry -->
          {{ else }}
          <li>{{ title . }}</li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
      {{ end }}
    
      <!-- If not multiple items with ingredients, use simple ingredients list (one list with all items) -->
      {{ else }}
      {{ range $i, $p := .Params.ingredients }}
      <div>
        {{ if reflect.IsMap . }}
        {{ range $ingredient, $qty := . }}
        <li>{{ title $ingredient }}: {{ $qty }}</li>
        {{ end }}
        {{ else }}
        <li>{{ title . }}</li>
        {{ end }}
      </div>
      {{ end }}
    
      <!-- End of if/else -->
      {{ end }}

      <hr>
    
    </div>
    <!-- End ingredients section -->
    {{ end }}
    
    <div class="article-content">
      {{ .Content }}
    </div>

    </div>
  </article>

  <!-- Include references if provided -->
  {{ if .Params.refs }}
  <hr>
  <div>
    <h4>References:</h4>
    <ul>
      {{ range .Params.refs }}
        <li>{{ . | markdownify }}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
